dist/
build/
*.egg-info/
__pycache__
*.py[cod]
*$py.class
.DS_Store
ignored/*
*/ignored/*
*/unused/
unused/*
./unused/*
.cache/
.coverage*
.mypy_cache/
.ruff_cache/
.pytest_cache/
.DS_Store
*.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
mlflow.db
mlruns.db
mlruns/*
.tmp.*
.tmp.drive*
.env
./unused/
.venv/
venv/
unused/*
docs/*
mlruns/*
outputs/*
!**/.gitkeep
*.py[cod]
__pycache__/

*.dta
*.csv
*.xlsx
*.tmp.*
*.ipynb

logs/
notebooks/
data/
tmp.driveupload
.DS_Store
Thumbs.db
*/train/*
.vscode
.vscode/*
*.vscode
.DS_Storedata/
mlruns/
*.dta
*.pth

# Environments and Caches
__pycache__/
*.py[cod]
.env
keops_cache/
pykeops_build/

# MLflow and Logs
mlruns/
mlruns.db
logs/
*.log

# Weights and Data
*.pt
*.pth
*.ckpt
data/
config.yaml
*.yaml


deepsecrets/
deepsecrets/*
deepsecretsroot/*deepsecrets/
config.yaml
