dist/
build/

.DS_Store

.cache/
.coverage*
.mypy_cache/
.ruff_cache/
.pytest_cache/

.idea/
.vscode/
.ipynb_checkpoints/

.env
.venv/
venv/

docs/*
mlruns/*
outputs/*
!**/.gitkeep

*.py[cod]
__pycache__/

*.dta
*.csv
*.xlsx

*.ipynb
