#-data safeguards-3
*.dta
*.csv
*.xlsx
*.parquet
*.json
*.zip
data/
*.ipynb
logs/
notebooks/
/unused/*
#-Artifacts-#
models/*.pt
models/*.onnx
*.pt
*.pth
*.onnx
*.ckpt
mlruns/
lightning_logs/

#-python project-agnostic ignores-#
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
.env
.ipynb_checkpoints/

#-sys-
.git
.gitignore
.DS_Store
.gitattributes
Dockerfile
tests/
.git/

deepkernels/unused/

.vscode
.vscode/*
*.vscode
.DS_Store
# Python caches
__pycache__/
*.py[cod]
*.[oa]

# PyTorch & ML
*.pt
*.pth
*.ckpt
runs/
wandb/
lightning_logs/

# Server/Data junk
data/
logs/
*.log
.env
*.db